<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" alt="Home Banner">
    
    <div class="sidebar-text">
      <h4 class="sidebar-heading">Welcome to SubNexus</h4>
      <p>
        Your front page for the internet! Join our vibrant community, explore trending posts, create your own content, and discover amazing subreddits.
      </p>
    </div>
  
    <div class="sidebar-btn-container">
      <button class="btn btn-create-post" (click)="goToCreatePost()">Create Post</button>
      <button class="btn btn-create-subreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
    </div>
  </div>
  